/*google fonts*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Permanent+Marker|Raleway');

html {
	margin: 0;
	padding: 0;
	background-color: #d3eaf6;
}

header {
	text-align: center;
	background-image: url(./images/bg.jpeg);
	box-shadow: 10px 15px 5px grey;
	transform: rotate(10deg);
}

h1 {
	font-size: 5em;
	padding-top: 80px;
	padding-bottom: 90px;
	margin-top: 0;
	margin-right: 0;
	font-family: 'Permanent Marker', cursive;
    position: relative;
}

h2 {
	padding-bottom: 120px;
	color: white;
}

h3 {
	text-decoration: overline;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif; 
	font-size: 2em;
}

p. {
   font-family: 'Raleway', sans-serif;
}

.page-wrapper { 
	width: 100%;
/*	max-width: 1150px;*/
	font: 1em georgia, sans-serif;
	line-height: 2;
	color: #555753; 
	overflow: hidden;
}

.summary {
	margin-left: 60px;
	margin-top: 170px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;

}

.preamble{
	width: 90%;
	height: auto;
	text-align: center;
	border: 5px dotted black;
	border-radius: 25px;
	outline:2px solid orange;
	outline-offset:15px;
	margin-left: 60px;
	margin-top: 50px;
	margin-bottom: 40px;
	padding: 50px 40px 50px 40px;
	box-sizing: border-box;
	background-color: #6abfbf;
	animation: myfirst 10s;
	-webkit-animation:myfirst 10s; /* Safari and Chrome */
	animation-iteration-count: 3;
	transform: rotate(-5deg);
}

#zen-supporting {
	width: 100%;
	height: auto;
}

.explanation {
	float: left;
	width: 100%;
	height: auto;
	padding-left: 50px;
	background-image: url(./images/xiaoren.jpg);
	background-size: 60% 110%;
	background-position: right; 
    background-repeat: no-repeat; 
}

.explanation p {
	width: 40%;
	color: black;
	text-indent:50px;
	line-height:200%;
	font-family: 'Raleway', sans-serif;
	font-style : italic;
	word-spacing: 5px;
}

.participation {
	float: right;
	clear: both;
	width: 60%;
	padding-top: 100px;
	padding-left: 500px;
	background-image: url(./images/xiangji.jpg);
	background-size: 50% 90%;
	background-position: left; 
    background-repeat: no-repeat; 
}

.participation  p {
	width: 70%;
	color: black;
	text-align: right;
	text-indent:50px;
	line-height:200%;
	font-family: 'Raleway', sans-serif;
	font-style : italic;
	word-spacing: 5px;
}

.benefits {
	float: left;
	width: 100%;
	padding-left: 50px;
	padding-top: 120px;
	background-image: url(./images/dengpao.jpg);
	background-size: 50% 200%;
	background-position: right; 
    background-repeat: no-repeat;
}

.benefits p {
	width: 50%;
	color: black;
	text-indent:50px;
	line-height:200%;
	font-family: 'Raleway', sans-serif;
	font-style : italic;
	word-spacing: 5px;
}

.requirements {
	float: right;
	clear: both;
	width: 70%;
	padding-top: 100px;
	padding-left: 800px;
	background-image: url(./images/xianrenzhang.jpg);
	background-size: 40% 70%;
	background-position: center; 
    background-repeat: no-repeat;
}

.requirements p {
	width: 70%;
	text-align: right;
	color: black;
	text-indent:50px;
	line-height:200%;
	font-family: 'Raleway', sans-serif;
	font-style : italic;
	word-spacing: 5px;
}

.wrapper {
	clear: both;
	display: flex;
  	flex-wrap: nowrap;
  	justify-content: space-around;
	margin: 60px 0 30px 0;
	background-color: #72cccc;
	transform: rotate(5deg);
	border: 5px solid #5b5941;
	border-radius: 25px;
	outline:2px solid #f79f79;
	outline-offset:10px;
	animation: myfirst 10s;
	-webkit-animation:myfirst 10s; /* Safari and Chrome */
	animation-iteration-count: 3;
	}

/*animation*/
@keyframes myfirst
{
	from {background:#72cccc;}
	to {background:orange;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
	from {background:#72cccc;}
	to {background:orange;}
}
/*animation over*/

.design-selection {
	color: white;
}

.design-archives {
	color: white;
}

.zen-resources{
	color: white;
}

a:link {
	color:black;
}      

a:visited {
	color:blue;
}  

a:hover {
	color:lightblue;
}  

a:active {
	color:red;
}  

